<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Reporte Creado Correctamente</h1>
    <p>Para descargar el reporte, da <a href="/downloadReport?fileName={{fileName}}">Click Aquí</a></p>
</body>
</html>